@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;400&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


///* variables ---------------------------------------------------*///
$hcolors1: yellow;
$hcolors2: rgb(243, 129, 8);

///* mixins generales----------------------------------------------------------------------------------------------------------------------------- *///
@mixin flex-col-centerymas(){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

@mixin divs-forms768 (){
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.3125rem;
}

@mixin bgprod1200(){
    background: radial-gradient(at 0% 0%,rgb(33, 164, 33),rgb(5, 62, 62));
}

@mixin bgpro768(){
    background: radial-gradient(at 0% 0%,rgb(71, 128, 71),rgb(0, 43, 43));
}

@mixin bgpro350(){
    background: radial-gradient(at 0% 0%,rgb(61, 111, 61),rgb(5, 90, 115));
}

@mixin bgartindex350(){
    background: radial-gradient(at 0% 0%,rgb(117, 121, 169),rgb(5, 115, 97));
}
@mixin bgartindex768(){
    background: radial-gradient(at 0% 0%,rgb(25, 33, 123),rgb(2, 91, 76));

}
@mixin bgartindex1200(){
    background: radial-gradient(at 0% 0%,rgb(0, 59, 130),rgb(5, 115, 23));
}


@mixin flecoce(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin bginfo(){
    background: radial-gradient(at 0% 0%,rgb(140, 48, 140),rgb(53, 0, 53));
}

@mixin bgpreviene(){
    background: radial-gradient(at 0% 0%,rgb(15, 60, 208),rgb(1, 152, 152));
}

///* MIXINS PRODUCTOS1200PX----------------------------------------------------------------------------------------------------------------------- *///

@mixin flexcenter-productos1200(){
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 114, 114);
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 8px;
    border: solid white 1px;
    border-radius: 8px;
}

@mixin h3productos1200(){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(228, 41, 78);
    width: 100%;
    text-align: center;
    height: 3rem;
    font-weight: bold;
    font-size: 3.125rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
}

@mixin aproductos1200(){
    background-color: black;
    color: white;
    font-size: 1.5625rem;
    padding: 8px;
    border: solid white 1px;
    text-align: center;
    border-radius: 8px;
}

///* MIXINS US 350PX------------------------------------------------------------------------------------------------------------------------------ *///
@mixin divus350(){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin us350(){
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 185);
    border-radius: 8px;
    border: solid white 1px;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    overflow: hidden; 
}

@mixin usdiva350(){

    text-decoration: none;
    font-size: 0.9375rem;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: solid white 1px;
    padding: 5px;
    margin: 8px;

}





ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}



body{
    background-color: rgb(21, 21, 29);
    font-family:'Fira Sans', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}


img{
    max-width: 100%;
}


h1{
    color: black;
    background-color: $hcolors1;
    height: 100%;
}