@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@100;400&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* variables ---------------------------------------------------*/
$hcolors1: yellow;
$hcolors2: rgb(236, 101, 128);

/* maps-------------------------------------------------------- */
$colores-h:(
    hproducto:rgb(236, 101, 128),
    hgral:yellow
);

/* mixins generales----------------------------------------------------------------------------------------------------------------------------- */
@mixin flex-col-centerymas(){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

@mixin flecoce(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MIXINS PRODUCTOS1200PX----------------------------------------------------------------------------------------------------------------------- */

@mixin flexcenter-productos1200(){
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 114, 114);
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 8px;
    border: solid white 1px;
    border-radius: 8px;
}

@mixin h3productos1200(){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(228, 41, 78);
    width: 100%;
    text-align: center;
    height: 3rem;
    font-weight: bold;
    font-size: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
}

@mixin aproductos1200(){
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 8px;
    border: solid white 1px;
    text-align: center;
    border-radius: 8px;
}

/* MIXINS US 350PX------------------------------------------------------------------------------------------------------------------------------ */
@mixin divus350(){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@mixin us350(){
    display: flex;
    flex-direction: column;
    background-color: rgb(71, 71, 185);
    border-radius: 8px;
    border: solid white 1px;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    overflow: hidden; 
}

@mixin usdiva350(){

    text-decoration: none;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: solid white 1px;
    padding: 5px;
    margin: 8px;

}


/* PARA LLAMAR A LOS MAPS

EJEMPLO

backround-color:map-get($colores-h,"hgral");

*/


ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}



body{
    background-color: rgb(21, 21, 29);
    font-family:'Fira Sans', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}


img{
    max-width: 100%;
}


h1{
    color: black;
    background-color: $hcolors1;
    height: 100%;
}