
main .fotomain{
    width: 100%;
    padding-top:0.5% ;
    border-radius: 15px;
}

/* --------------------------------------------------------------------------------------- */

@import "bases";

@import "components/header";

@import "secciones/index";

@import "secciones/products";

@import"secciones/contact";

@import"secciones/us";

@import"secciones/info";
 
