@media screen and (min-width:350px){

    .sectinfo{
        @include flecoce();
        background-color: rgb(20, 20, 85);
        width: 100%;
        border: white solid 1px;
        border-radius: 8px;
        overflow: hidden;
        
        h2{
            margin-top: 0;
            font-weight: bold;
            font-size: 25px;
            background-color: yellow;
            width: 100%;
            text-align: center;
            font-size: bold;
        }
        
    
            .infocla{
                @include flecoce();
                width: 90%;
                gap: 1rem;
                padding: 10px;
    
                .info{
                    @include flecoce();
                    justify-content: space-between;
                    border: solid white 1px;
                    border-radius: 8px;
                    overflow: hidden;
                    background-color: rgb(73, 73, 109);
    
                    h3{
                        background-color: rgb(16, 159, 0);
                        width: 100%;
                        text-align: center;
                        font-weight: bold;
                    }
    
                    img{
                        width: 100%;
                        height: 40%;
                        object-fit: cover;
                        padding: 5px;
                    }
    
                    p{
                        color: white;
                        font-size: 15px;
                        text-align: center;
                        margin: 5px;
                    }
    
                    .investiga{
                        text-decoration: none;
                        color: white;
                        background-color: black;
                        border: solid white 1px;
                        border-radius: 8px;
                        padding: 5px;
                        margin: 8px;
                    }
    
                    
                }
            }
    }
    
    .prevenir{
        @include flecoce();
        background-color: blue;
    
        h2{
            font-size: 25px;
            font-weight: bold;
            background-color: yellow;
            text-align: center;
            width: 100%;
        }
    
        .orden{
            @include flecoce();
            padding-right: 8px;
            background-color: rgb(0, 106, 255);
            border: solid white 1px;
            color: white;
            list-style: decimal;
            padding-top: 5px;
    
            strong{
                color: black;
                text-decoration: underline;
            }
    
            .conclution{
                background-color: rgb(16, 129, 46);
                text-align: center;
                padding: 1rem;
                padding-bottom:5px;
                width: 100%;
                margin-bottom: 10px;
                align-self: flex-start;
            }
        }
    }
    
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:768px){

    .sectinfo{

        background-color: rgb(4, 4, 54);

        h2{
            background-color: yellow;
            width: 100%;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
        }

        .infocla{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;

            .info{
                height: 100%;
                width: 100%;
                background-color: rgb(86, 86, 188);

                h3{background-color: rgb(199, 251, 147);
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                }

                img{
                    width: 100%;
                    height: 45%;
                    object-fit: cover;
                    padding: 5px;
                }

                p{
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    margin: 5px;
                }

                .investiga{
                    font-size: 18px;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    border: solid white 1px;
                    border-radius: 8px;
                    padding: 5px;
                    margin: 8px;

                }


            }
        }
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1200px){

    .sectinfo{
        background-color: rgb(5, 5, 33);
    
        h2{
            font-size: 50px;
        }
    
        .infocla{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-items: center;
            
            .info{
                height: 100%;
                width: 100%;
                background-color: rgb(86, 86, 188);
                
                h3{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(123, 232, 15);
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                    font-size: 40px;
                    height: 70px;
                }
    
                img{
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                    padding: 5px;
                }
    
                p{
                    color: white;
                    font-size: 25px;
                    text-align: center;
                    margin: 5px;
                    background-color: rgb(3, 3, 57);
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    padding: 5px;
                }
    
                .investiga{
    
                    font-size: 25px;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    border: solid white 1px;
                    border-radius: 8px;
                    padding: 5px;
                    margin: 8px;
    
                    &:hover{
                        background-color: green;
                        transform: scale(1.2);
                        transition: 300ms;
                    }
                }
    
            }
        }
    }
    
    
    .prevenir{
    
        @include flecoce();
        background-color: blue;
        width: 100%;
    
        h2{
            font-size: 42px;
            font-weight: bold;
            .prervenir{

        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: blue;
    
        h2{
            font-size: 25px;
            font-weight: bold;
            background-color: yellow;
            text-align: center;
            width: 100%;
        }
    
        .orden{
            @include flecoce();
            padding-right: 8px;
            background-color: rgb(0, 106, 255);
            border: solid white 1px;
            color: white;
            list-style: decimal;
            padding-top: 5px;
    
            strong{
                color: black;
                text-decoration: underline;
            }
    
            .conclution{
                background-color: rgb(16, 129, 46);
                text-align: center;
                padding: 1rem;
                padding-bottom:5px;
                width: 100%;
                margin-bottom: 10px;
                align-self: flex-start;
            }
        }
    }   
        }
    
        .orden{
    
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-right: 8px;
            background-color: rgb(0, 106, 255);
            border: solid white 1px;
            color: white;
            list-style: decimal;
            padding-top: 5px;
            width: 100%;
            font-size: 30px;
    
            strong{
                color: black;
                text-decoration: underline;
    
                .conclution{
                    background-color: rgb(16, 129, 46);
                    text-align: center;
                    padding: 1rem;
                    padding-bottom:5px;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    
    }
}